*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    height:100vh;
    width:100%;
}
html{
    scroll-behavior:smooth;
}
#Frame-container{
    
    height:8400px;
    width:100%;
    background-color:rgb(255, 255, 255);
    display:flex;
    align-items:center; 
    /* justify-content:center;  */
    flex-direction:column;
}
.award{
    height:8000px;
    /* MARGIN-TOP:PX; */
    width:98%;
    /* border:1px solid red; */
    background-color:rgb(247, 245, 240);
    display:flex;
    align-items:center;
    /* justify-content:center; */
    flex-direction:column;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
 
  }
  #title-06{
      font-size:50px;
      font-family: 'Poppins', sans-serif;
      letter-spacing:5px;
      color:rgb(169, 168, 168);
      margin-bottom:30px;
      margin-top:50px;
      
  }
  #award-img{
     
      height:900px;
      width:90%;
      margin-bottom:30px;
      
  }
  #award-slogan{
      height:80px;
      width:75%;
      font-size:12px;
      letter-spacing: 1px;
      display:flex;
      align-items:center;
      justify-content:center;
      font-family:'poppins',sans-serif;
      margin-bottom:30px;
      color:rgb(0, 0, 0);
      
  }
  #award-section{
      height:80px;
      width:78%;
      font-size:38px;
      font-family:'poppins',sans-serif;
      text-align: justify;
      /* border:1px solid red; */
  }
  #award-container{
      height:7000px;
      width:80%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      /* border:1px solid black; */
      overflow:hidden;
      background-color:white;
      /* border:1px solid red; */
  }
  #img-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:350px;
    width:100%;
    /* border:1px solid red; */
  }
  #img{
    width:70%;
    height:100%;
    /* border:1px solid red; */
   
  }
  #imgl{
    width:95%;
    height:100%;
    /* border:1px solid red; */
   
  }
  #imgr-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:150px;
    width:100%;
    /* border:1px solid red; */
  }
  #imgr{
    width:20%;
    transition: 0.6s;
    height:100%;
    font-size:100px;
  
   
  }
  #imgr a{
       color:rgba(255, 0, 0, 0);
       font-size:150px;
       display:flex;
       align-items:center;
       justify-content: center;
       text-align:center;
  }
  #imgr:hover{
    cursor:pointer;
    transform: scale(1.1);
  }
  #award-heading{
      height:80px;
      width:91%;
  font-size:44px;
  font-family:'poppins',sans-serif;
  text-align: justify;
  /* border:1px solid red; */
  margin-top:60px;
  letter-spacing: 5px;
  margin-left:50px;
  color:orange;
  /* border:1px solid red; */
}
#award-papers{
  height:3070px;
  margin-left:50px;
  text-align:justify;
  width:91%;
  font-size:14px;
  font-family:'poppins',sans-serif;
  text-align: justify;
  /* border:1px solid red; */
  margin-top:10px;
  /* border:1px solid red; */
}
/* footer */
.footer{
    height:370px;
    margin-top:30px;
    width:100%;
    background-color: rgba(43,51,62,255);
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
}
.caution{
    /* background-color: red; */
    height:80px;
    width:80%;
    font-family:'poppins',sans-serif;
    font-size:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    letter-spacing: 2.94px;
    text-align:justify;
    color:white;

}
.copyright{
    /* background-color: red; */
    height:80px;
    width:80%;
    font-family:'poppins',sans-serif;
    font-size:19px;
    display:flex;
    align-items:center;
    justify-content:center;
    letter-spacing: 2px;
    color:white;
}
.social-icons{
    /* background-color: red; */
    height:80px;
    width:40%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin-bottom:50px;
}
i.fa-brands{
    font-size:40px;
    color:orange;
    transition:0.7s;
}
i.fa-brands:hover{
    font-size:50px;
    cursor:pointer;
 
}
/* footer */
@media screen and (min-device-width:350px) and (max-device-width:480px){
    *{
        box-sizing:border-box;
        padding:0;
        margin:0;
    }
    body{
        height:100vh;
        width:100%;
    }
    html{
        scroll-behavior:smooth;
    }
    #Frame-container{
        
        height:16600px;
        width:100%;
        background-color:rgb(255, 255, 255);
        display:flex;
        align-items:center; 
        /* justify-content:center;  */
        flex-direction:column;
    }
    .award{
        height:16200px;
        /* MARGIN-TOP:PX; */
        width:98%;
        /* border:1px solid red; */
        background-color:rgb(247, 245, 240);
        display:flex;
        align-items:center;
        /* justify-content:center; */
        flex-direction:column;
        box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
     
      }
      #title-06{
          font-size:50px;
          font-family: 'Poppins', sans-serif;
          letter-spacing:5px;
          color:rgb(169, 168, 168);
          margin-bottom:30px;
          text-align: center;
          margin-top:50px;
          
      }
      #award-img{
         
          height:500px;
          width:90%;
          margin-bottom:30px;
          
      }
      #award-slogan{
          height:80px;
          width:90%;
          font-size:18px;
          letter-spacing: 1px;
          display:flex;
          align-items:center;
          justify-content:center;
          font-family:'poppins',sans-serif;
          margin-bottom:30px;
          color:rgb(0, 0, 0);
          margin-top:25px;
          
      }
      #award-section{
          height:80px;
          width:90%;
          font-size:38px;
          font-family:'poppins',sans-serif;
          text-align: center;
          /* border:1px solid red; */
      }
      #award-container{
          height:16000px;
          width:90%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          /* border:1px solid black; */
          overflow:hidden;
          background-color:white;
      }
      #img-container{
        display:flex;
        justify-content: center;
        align-items: center;
        height:300px;
        width:100%;
      }
      #img{
        width:90%;
        height:100%;
       
      }
      #imgr a{
        color:rgba(255, 0, 0, 0);
        font-size:150px;
        align-items:center;
        justify-content: center;
        text-align:center;
    }
      #imgr-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height:110px;
        width:100%;
      }
      #imgr{
        width:20%;
        transition: 0.6s;
        height:100%;
       
      }
      #imgr:hover{
        cursor:pointer;
        transform: scale(1.1);
      }
      #award-heading{
          height:80px;
          width:91%;
      font-size:44px;
      font-family:'poppins',sans-serif;
      text-align: justify;
      /* border:1px solid red; */
      margin-top:60px;
      letter-spacing: 5px;
      margin-left:50px;
      color:orange;
    }
    #award-papers{
      height:1370px;
      margin-left:50px;
      text-align:justify;
      width:91%;
      font-size:28px;
      font-family:'poppins',sans-serif;
      text-align: justify;
      /* border:1px solid red; */
      margin-top:10px;
    }
    /* footer */
    .footer{
        height:370px;
        margin-top:30px;
        width:100%;
        background-color: rgba(43,51,62,255);
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-direction:column;
    }
    .caution{
        /* background-color: red; */
        height:80px;
        width:80%;
        font-family:'poppins',sans-serif;
        font-size:15px;
        display:flex;
        align-items:center;
        justify-content:center;
        letter-spacing: 2.94px;
        text-align:justify;
        color:white;
    
    }
    .copyright{
        /* background-color: red; */
        height:80px;
        width:80%;
        font-family:'poppins',sans-serif;
        font-size:19px;
        display:flex;
        align-items:center;
        justify-content:center;
        letter-spacing: 2px;
        color:white;
    }
    .social-icons{
        /* background-color: red; */
        height:80px;
        width:40%;
        display:flex;
        align-items:center;
        justify-content:space-evenly;
        margin-bottom:50px;
    }
    i.fa-brands{
        font-size:40px;
        color:orange;
        transition:0.7s;
    }
    i.fa-brands:hover{
        font-size:50px;
        cursor:pointer;
     
    }
}